<style>
  div.polaroid {
    width: 80%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
  }

  div.container {
    text-align: center;
    padding: 10px 20px;
  }

  #menu-border {
    border: 2px solid red;
    padding: 10px;
    border-radius: 25px;
  }

  a:hover {
    background-color: white !important;
  }
</style>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet">

<div class="container">
  <div class="row">
    <div class="col-md-1">
      <img src="<%= restaurant.image %>" style="height: 38px;">
    </div>
    <div class="col-md-8">
      <h2>
        <a href="/restaurants/<%= restaurant.id %>">
          Menu nhà hàng <%= restaurant.name %>
        </a>
        <% if user_signed_in? %>
        <!--<%= fa_icon('copy', class: 'my-class', text: 'Camera', size: '3x') %>-->
          <i class="fas fa-copy" onclick="copytoClipBoard()" style="cursor: pointer"></i>
        <% end %>
      </h2>
    </div>
  </div>
  <div class="row" id="menu-border">
    <% restaurant.foods.each do |c| %>
      <div class="col-md-4">
        <div class="polaroid">
          <img src="https://w3schools.com/css/img_5terre.jpg" alt="Image not found" style="width:100%">
          <div class="container">
            <p><%= c.name %></p>
            <button class="btn btn-success">Chọn món</button>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<% if user_signed_in? %>
    <input id="myInput" value="<%= root_url + request.fullpath  %>?id=<%= current_user.id %>&name=<%= current_user.name %>" style="opacity:0">
<% end %>
<script>
    function copytoClipBoard() {
        <% if user_signed_in? %>
        var copyText = document.getElementById("myInput");
        copyText.select();
        copyText.setSelectionRange(0, 99999);
        document.execCommand('copy');
        console.log(copyText);
        <% end %>
    }
</script>