<%= bootstrap_form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<div class="col-5">
    <%= f.text_field :name %>
</div>

<div class="col-5">
    <%= f.date_field :birth %>
</div>
<script>
  function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#blah')
                        .attr('src', e.target.result);
                };
                reader.readAsDataURL(input.files[0]);
            }
        }
</script>
<img class="w-25 p-3" id="blah" src="<%=@user.image%>" alt="your image" />
<div class="col-3">


    <%= f.file_field :image, :onchange => "readURL(this)" %>
    <!--<=><input type="file" onchange="readURL(this); return false;">-->
</div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


