<!DOCTYPE html>
<html>
  <head>
    <title>FoodOrder</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
    <h3>hello <%= current_user.email %></h3>
    <ul>
    <li><%= link_to "Home" %></li>
    <li><%= link_to "Order now" %></li>
    <li><%= link_to "Profile" %></li>
    <li><%= link_to "logout",destroy_user_session_path, method: :delete %></li>
    <% else %>
    <li><%= link_to "sign in",new_user_session_path %></li>
    <li><%= link_to "sign up",new_user_registration_path %></li>
    <% end %>
    </ul>
    <hr>
    
    <%= yield %>
  </body>
</html>
